[user]
  name = Yaron Wittenstein
  email = yaron.wittenstein@gmail.com
[core]
  editor = vim
[github]
  user = YaronWittenstein
[color]
  ui = auto
[diff]
  tool = vimdiff
[diftool]
  prompt = false
[push]
  default = current
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
